.d-block{
    display: block;
}

.d-inline-block{
    display: inline-block;
}

.vertical-align-middle-1 > *{
    vertical-align: middle;
    line-height: normal;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.bottom-0{
    bottom: 0;
}

.w-100{
    width: 100%;
}

.c-collapse-1 > .collapse-content{
    max-height: 4.2em;
    overflow: hidden;
}

.c-collapse-1.show > .collapse-content{
    max-height: unset;
    display: unset;
}

.c-collapse-1 .c-toggle-open{
    display: unset;
}

.c-collapse-1.show .c-toggle-open{
    display: none;
}

.c-collapse-1 .c-toggle-close{
    display: none;
}

.c-collapse-1.show .c-toggle-close{
    display: unset;
}

.img-resp-1{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
}

.img-resp-1>img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.txt-ellipsis-1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.owl-mt-0 .owl-controls{
    margin-top: 0;
}

.ellipsis-g{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clamp-2{
    -webkit-line-clamp: 2;
}

.clamp-3{
    -webkit-line-clamp: 3;
}

.bg-bundle-1{
    background-size: auto 270px;
    height: 270px;
}

.font_faq{
    font-size:25px !important; 
    margin-right:10px !important;
}
.padding_faq{
    padding:15px !important;
}
.desc_faq{
    font-size: 18px !important;
}